<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="../../../assets/catalog-graphic.png" class="img img-responsive">
        </div>
        <div class="col-sm-8">
            <h1>{{ catalog.slice(0,-1) }} Catalog</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Nibh praesent tristique magna sit amet. Feugiat vivamus at augue eget arcu dictum varius. Ligula ullamcorper malesuada proin libero 
            nunc consequat interdum. Vel quam elementum pulvinar</p>
        </div>
    </div>
</div>