<div class="container">
    <div class="row">
        <div class="col-md-6">Donate today! 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et ligula accumsan, consequat magna at, aliquet diam. Pellentesque interdum, turpis eu blandit accumsan, orci nunc facilisis magna, at dignissim leo dui non lectus. Donec sed leo fermentum, rhoncus velit non, mattis velit. Pellentesque ac euismod eros. Vestibulum cursus orci et nibh bibendum, sed dapibus leo sodales. Nulla sit amet ligula est. Nullam lobortis quam quis pellentesque efficitur. Fusce in elit sollicitudin, congue ligula non, placerat ante. Pellentesque vitae nisl sagittis, facilisis leo venenatis, dapibus ex. Proin cursus mi ut dolor euismod sollicitudin.</div>
        <div class="col-md-6" style="text-align:right; margin-top: 8%">
            <button>Donate Here</button>
        </div>
    </div>
</div>