<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-sm-6 change-padding" style="height: 200px !important">
            <p class="big" [ngStyle]="{'--num': currNum}" >{{innerWidth < 1300 ? this.currNum : ""}}</p><p class="big">%</p>
            <p>{{currText}}</p>
        </div>
        <div class="col-sm-6 right" style="text-align: justify; border-left: 1px solid rgba(0, 0, 0, .2); padding-left: 50px;">
            <h3>Mission Statement</h3>
            One of the greatest challenges contemporary students face is learning to what they want to learn, not what others pressure them to learn. Outside influence and local resource scarcity are just some factors that restrict a student's natural academic inclinations. Helivox is a 501(c)(3) registered nonprofit working to solve these issues; by compiling and distributing multifaceted information to students, our ultimate goal is to foster diverse academic interests and to provide resources for students to forward their diverse academic interests.
        </div>
    </div>
</div>

